<div class="display-restriction" style="z-index:999999" *ngIf="timeout">
		<div class="message w3-animate-fading" style="left:20vw; top:30vh">
			<img src="assets/images/logo.png" alt="loader" style="height:50%; width:70%">
			</div>
	</div>
<div class="display-restriction" *ngIf="mobile_device">
	<div class="message">
		<h1>Kindly revisit page on Desktop or a Laptop device</h1>
		<h3>Mobile Application Coming soon	</h3>
	</div>
</div>

    <section>
		<!-- left side start-->
	
	  
		<!-- /w3l-agile -->
		  <!-- signup -->
		  <div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
			  <div class="modal-content modal-info">
				<div class="modal-header">
				  <button type="button" id="exit_button"class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
				</div>
				<div class="modal-body modal-spa">
				  <div class="sign-grids">
					<div class="sign">
					  <div class="sign-left">
						<ul>
						 
						
						</ul>
					  </div>
					  <div class="sign-right">
						<form [formGroup]="loginForm" (ngSubmit)="login()">
		
							<h3>Sign into your Account </h3>
							<div class="formGroup row">
								<input type="text" placeholder="Email address" formControlName="login_email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
						  
							</div>
							<div class="formGroup row">
								<input type="password" placeholder="Password" formControlName="login_password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">	
						  
					</div>
					<div class="formGroup row">
							<input type="submit" value="Sign In">	
						
						</div>

					</form>
					<div class="clearfix">
						<div class="row">
							<h3 style="color:black;padding-top:5px;">Not a member? <a (click)="register()"><span style="color:#D10024">Register Here</span></a></h3>
						</div>
						<h3 style="color:black;padding-top:5px;">Forgot Password? <a (click)="passwordReset()"><span style="color:#D10024">Click Here</span></a></h3>
					</div>
				
						
					
					
						
					  </div>
					  <div class="clearfix"></div>								
					</div>

					<p>By logging in you agree to our <span>Terms and Conditions</span> and <span>Privacy Policy</span></p>
				  </div>
				</div>
			  </div>
			</div>
			</div>
			
			<div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content modal-info">
					<div class="modal-header">
						<button type="button" id="registration_exit_button"class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
					</div>
					<div class="modal-body modal-spa">
						<div class="sign-grids">
						<div class="sign">
							<div class="sign-left">
							<ul>
								<li><a class="fb" href="#"><i></i>Sign in with Facebook</a></li>
								<li><a class="goog" href="#"><i></i>Sign in with Google</a></li>
								<li><a class="linkin" href="#"><i></i>Sign in with Linkedin</a></li>
							</ul>
							</div>
							<div class="sign-right">
							<form [formGroup]="registerForm">
			
								<h3>Sign into your Account </h3>
								<div class="formGroup row">
									<input type="text" formControlName="first_name" placeholder="First Name" onfocus="this.value = '';" required="">
								
								</div>
								<div class="formGroup row">
									<input type="text" placeholder="Second Name" formControlName="second_name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
								
								</div>
								<div class="formGroup row">
									<input type="text" placeholder="Email Address" formControlName="email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
								
								</div>
								<div class="formGroup row">
									<input type="password" placeholder="Password" formControlName="password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">	
								
						</div>
						<div class="formGroup row">
								<input type="password" placeholder="Confirm Password" formControlName="c_password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
							
							</div>
							
						<div class="formGroup row">
								<input type="submit" value="Sign In">	
							
							</div>
						</form>
							
							</div>
							<div class="clearfix"></div>								
						</div>
						<p>By Signing up you agree to our <span>Terms and Conditions</span> and <span>Privacy Policy</span></p>
						</div>
					</div>
					</div>
				</div>
				</div>
		 
			  <!-- //signup -->
		<!-- /w3l-agile -->
		  <!-- left side end-->
			<!-- main content start-->
	
					<!-- <nav class="navbar" style="position:fixed;top:0;z-index:9999;width:100%;height:60px;background:rgb(85, 85, 85)">
							<a class="navbar-brand" href="#">
								<img src="assets/images/logo.png"  width="68" height="30" alt="">
							</a>
							<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
									<span class="navbar-toggler-icon"></span>
							</button>
								<div class="collapse navbar-collapse" id="navbarNav">
									<ul class="navbar-nav">
										<li class="nav-item active">
											<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="#">Features</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="#">Pricing</a>
										</li>
										<li class="nav-item">
											<a class="nav-link disabled" href="#">Disabled</a>
										</li>
									</ul>
								</div>
						
								
						</nav> -->
	
						<nav class="mobile-nav navbar navbar-expand-lg navbar-light bg-light" style="background:rgb(65, 65, 65);position:fixed;z-index:9999;width:100vw;height:60px">
								<a class="navbar-brand" href="#">
										<img src="assets/images/logo.png"  width="68" height="30" alt="">
									</a>
								<button class="navbar-toggler" *ngIf="logged_in" style="background:black;height:30px;width:40px;position:fixed;right:0;margin:10px;" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
										<i class="fa fa-bars" style="color:white"></i>
								</button>
								<div *ngIf="logged_in"  class="collapse navbar-collapse" id="navbarNav" style="background:rgb(65, 65, 65)">
									<ul class="navbar-nav main-nav nav" style="margin-left:0">
											<li routerLinkActive="active"><a routerLink="/home">Home</a></li>
											<li routerLinkActive="active" ><a routerLink="/movies">Movies</a></li>
											<li routerLinkActive="active" ><a routerLink="/added">Recently Added</a></li>
											<li *ngIf="logged_in"><a routerLink="/user_list">My List</a></li>
											<li routerLinkActive="active" ><a (click)="logout()">Log out <i class="fa fa-sign-in"></i>  :<br>{{userName}} </a></li>

									</ul>
								</div>
								<button *ngIf="loginButton" style="position: fixed;right:0;margin:10px;background:black;height:40px;" data-toggle="modal" data-target="#myModal5">
										<h4><a>SIGN IN <i class="arrow glyphicon glyphicon-chevron-right"></i></a></h4>
								</button>
							</nav>

		  <div class="main-content">
			  <!-- header-starts -->
			  <div class="header-section" style="position:fixed;top:0;z-index:9999;width:100%">
						
			  <!--toggle button start-->
				<div id="responsive-nav">
					<!-- NAV -->
					<div class="row" >
							
							<ul class="main-nav nav navbar-nav">
									<li class="logo" ><img src="assets/images/logo.png" style="width:6vw;"></li>
									<li routerLinkActive="active" *ngIf="logged_in"><a routerLink="/home">Home</a></li>
									<li routerLinkActive="active" *ngIf="logged_in"><a routerLink="/movies">Movies</a></li>
									<li routerLinkActive="active" *ngIf="logged_in"><a routerLink="/added">Recently Added</a></li>
									
									<li *ngIf="logged_in"><a routerLink="/user_list">My List</a></li>
									
								</ul>
					</div>
					
				
					
					<!-- /NAV -->
				</div>
			  <!--toggle button end-->
			  <!--notification menu star t -->
				  <div class="menu-right" >
						
					  <div class="profile_details" >		
								
							   
							  
										  
									  <!-- //search-scripts -->
											   <!---->
										  
											   <div class="col-md-4 login-pop">
												
												<div *ngIf="loginButton" style="top:15px;right:8px;position:fixed;"> 
													<div id="loginpop"> <a id="loginButton" data-toggle="modal" data-target="#myModal5"><span>Sign In <i class="arrow glyphicon glyphicon-chevron-right"></i></span></a></div>
						
												</div>
											
												<div *ngIf="logged_in" id="loginpop">
													<button type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><h3 style="color:white;"><span class="glyphicon glyphicon-user"></span> {{userName}}</h3></button>

													<button class="btn btn-secondary dropdown-toggle" (click)="logout()"><h3 id="logoutButton"><i class="fa fa-sign-in"></i></h3></button>

												</div>
											
												
												
											  </div>
										  <div class="clearfix"> </div>
								  </div>
							  <!---->
						  </div>
					  <div class="clearfix"></div>
					</div>
					
			  <!--notification menu end -->
			  <!-- //header-ends -->
		<!-- /w3l-agileits -->
			<!-- //header-ends -->
			<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
			  <router-outlet></router-outlet>
			  </div>
		  <!--footer section start-->
		  
		  
		  <!--footer section end-->
		<!-- /w3l-agile -->
		<!-- main content end-->
	 </section>
	
  
