
    <div class="banner-section" >
        <carousel style="position:relative;top:50px;">
            <slide>
              <img src="assets/images/11.jpg" alt="first slide" style="display: block; width: 100%;">
              <a class="trend" href="single.html">TRENDING</a>
              <div class="banner-info" >
                  
            <h3>Let Your Home</h3>
            <p>Movie by <span>Rock star</span></p>
     </div>
            </slide>
            <slide>
              <img src="assets/images/22.jpg" alt="second slide" style="display: block; width: 100%;">
              
              <div class="banner-info" >
                  <a class="trend" href="single.html">TRENDING</a>
                  
            <h3>Let Your Home</h3>
            <p>Movie by <span>Rock star</span></p>
     </div>
            </slide>
            
          </carousel>
      
     
    <div class="clearfix"> </div>
  </div>	 
<div id="page-wrapper">
    <div class="inner-content">
    
          <div class="music-left">
         
                <!--banner-->
                
    <!--//End-banner-->
      <!--Movies-->
      <!-- pop-up-box --> 
     
          
      <!--//pop-up-box -->
        <div class="albums">
            <div class="tittle-head">
              <h3 class="tittle">New Releases <span class="new">New</span></h3>
              
              <div class="clearfix"> </div>
            </div>
            
            <div class="col-md-3 content-grid" (click)="openInfoOverlay()">
            <a class="play-icon popup-with-zoom-anim" href="#small-dialog"><img src="assets/images/v1.jpg" ></a>
            
          </div>
          
          <div class="col-md-3 content-grid">
            <a class="play-icon popup-with-zoom-anim" href="#small-dialog"><img src="assets/images/v2.jpg" ></a>

           
          </div>
          <div class="col-md-3 content-grid">
            <a class="play-icon popup-with-zoom-anim" href="#small-dialog"><img src="assets/images/v3.jpg" ></a>

            
          </div>
          <div class="col-md-3 content-grid last-grid">
            <a class="play-icon popup-with-zoom-anim" href="#small-dialog"><img src="assets/images/v4.jpg" ></a>

            
          </div>
          <div class="col-md-3 content-grid">
            <a class="play-icon popup-with-zoom-anim" href="#small-dialog"><img src="assets/images/v5.jpg" ></a>

            
          </div>
          <div id="small-dialog" class="mfp-hide">
            <iframe src="https://player.vimeo.com/video/12985622"></iframe>
            
          </div>
          <div class="col-md-3 content-grid">
            <a class="play-icon popup-with-zoom-anim" href="#small-dialog"><img src="assets/images/v6.jpg" ></a>

            <a class="button play-icon popup-with-zoom-anim" href="#small-dialog"></a>
          </div>
          <div class="col-md-3 content-grid">
            <a class="play-icon popup-with-zoom-anim" href="#small-dialog"><img src="assets/images/v7.jpg" ></a>

            <a class="button play-icon popup-with-zoom-anim" href="#small-dialog"></a>
          </div>
          <div class="col-md-3 content-grid last-grid">
            <a class="play-icon popup-with-zoom-anim" href="#small-dialog"><img src="assets/images/v8.jpg" ></a>
                    <a class="button play-icon popup-with-zoom-anim" href="#small-dialog"></a>
                  </div>

      
                  <div class="clearfix"> </div>
                </div>
      <!--//End-albums-->
        <!--//discover-view-->
        
        <div class="albums second">
                <div class="tittle-head">
                  <h3 class="tittle">Discover <span class="new">View</span></h3>
                  
                  <div class="clearfix"> </div>
                </div>
                  <div class="col-md-3 content-grid">
                    <a href="single.html"><img src="assets/images/v11.jpg" ></a>
                    
                  </div>
                  <div class="col-md-3 content-grid">
                      <a href="single.html"><img src="assets/images/v22.jpg" ></a>
                      
                    </div>
                  <div class="col-md-3 content-grid">
                      <a href="single.html"><img src="assets/images/v33.jpg" ></a>
                      
                    </div>
                  <div class="col-md-3 content-grid last-grid">
                      <a href="single.html"><img src="assets/images/v44.jpg" ></a>
                     
                  </div>
                  <div class="col-md-3 content-grid">
                      <a href="single.html"><img src="assets/images/v55.jpg" ></a>
                      
                  </div>
                  <div class="col-md-3 content-grid">
                    <a href="single.html"><img src="assets/images/v66.jpg" ></a>
                   
                  </div>
                  <div class="col-md-3 content-grid">
                      <a href="single.html"><img src="assets/images/v11.jpg" ></a>
                      
                  </div>
                  <div class="col-md-3 content-grid last-grid">
                      <a href="single.html"><img src="assets/images/v22.jpg" ></a>
                      
                  </div>
                  <div class="clearfix"> </div>
              </div>
            <!--//discover-view-->
          </div>
          
          <!--//music-left-->
            <!--/music-right-->
           
                       <!--//music-right-->
                  <div class="clearfix"></div>
      <!-- /w3l-agile-its -->
                </div>
        <!--body wrapper start-->
     
             
         
            </div>
        <div class="clearfix"></div>
        <!--body wrapper end-->
<!-- /w3l-agile -->
      
    <!--body wrapper end-->
       <div class="footer">
    <div class="footer-grid">
      <h3>Navigation</h3>
      <ul class="list1">
        <li><a href="index.html">Home</a></li>
        <li><a href="radio.html">All Songs</a></li>
        <li><a href="browse.html">Movies</a></li>
        <li><a href="radio.html">New Collections</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="contact.html">Contact</a></li>
        </ul>
    </div>
    <div class="footer-grid">
      <h3>Our Account</h3>
        <ul class="list1">
        <li><a href="#" data-toggle="modal" data-target="#myModal5">Your Account</a></li>
        <li><a href="#">Personal information</a></li>
        <li><a href="#">Addresses</a></li>
        <li><a href="#">Discount</a></li>
        <li><a href="#">Orders history</a></li>
        <li><a href="#">Addresses</a></li>
        <li><a href="#">Search Terms</a></li>
        </ul>
    </div>
    <div class="footer-grid">
      <h3>Our Support</h3>
      <ul class="list1">
        <li><a href="contact.html">Site Map</a></li>
        <li><a href="#">Search Terms</a></li>
        <li><a href="#">Advanced Search</a></li>
        <li><a href="#">Mobile</a></li>
        <li><a href="contact.html">Contact Us</a></li>
        <li><a href="#">Mobile</a></li>
        <li><a href="#">Addresses</a></li>
        </ul>
      </div>
        
       <div class="footer-grid footer-grid_last">
        <h3>About Us</h3>
        <p class="footer_desc">Diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat enim ad minim veniam,.</p>
        <p class="f_text">Phone:  &nbsp;&nbsp;&nbsp;00-250-2131</p>
        <p class="email">Email : &nbsp;<span><a href="mailto:mail@example.com">info(at)mailing.com</a></span></p>	
       </div>
       <div class="clearfix"> </div>
       
  </div>
  

  <div *ngIf="overlayOpen"class="info-overlay col-md-12" style="position:fixed;top:0;background:rgba(0, 0, 0, 0.864);width:100%;height:100%;z-index:99999;">
    <div class="exit-button-holder" style="position:fixed;right:15px;top:10px;" >
      <a href="#" (click)="closeInfoOverlay()"><h2 style="color:white"><i class="lnr lnr-cross"></i></h2></a>
    </div>  
    <div class="info-overlay-image col-md-3" style="position:relative;top:100px;">
          <div>
              <a href="single.html"><img class="overlay-grid" src="assets/images/v11.jpg" ></a>
            </div>
            
      </div>
      <div class="col-md-6" style="position:relative;top:100px;">
          <div class="tittle-head">
              <h3 class="tittle">Lootera   <span class="new"><i class="lnr lnr-star"></i> 6.5/10</span></h3>
              
              <div class="clearfix"> </div>
              <table class="table table-hover col-md-12" style="margin-top:40px;">
                  <thead>
                    <tr>
                      <th class="col-md-1"></th>
                      <th class="col-md-8">Episode Name</th>                      
                      <th class="col-md-3">Length</th>
                    </tr>
                  </thead>
                  <tbody>
                    <a>
                    <tr href="#">
                      <td>1.</td>
                      <td>John Doe's Tape</td>
                      <td> 45:30</td>
                      
                    </tr>
                    </a>
                    <a>
                    <tr href="#">
                      <td>2.</td>
                      <td>Jane Doe's Tape</td>
                      <td> 50:00</td>
                      
                    </tr>
                  </a>
                  <a>
                    <tr href="#">
                      <td>3.</td>
                      <td>Season Finale</td>
                      <td>1:40:10</td>
                      
                    </tr>
                    </a>
                  </tbody>
                </table>
                <div class="clearfix"></div>
              

            </div>
      </div>
    </div>