/* You can add global styles to this file, and also import other style files */
html {
   
}
body {
    height:100%;
}
app-root {
    height:100%;
    display: block;
}

/* section {
    height:100%;
}
app-discover {
    display:block;
    height:100%;

}
.main-content {
    height:100%;
}
#page-wrapper {
    height:100%;
} */
.movie {
    font-size: 12px;
    position: relative;
    z-index: 0;
    display: block;
    overflow: visible;
    border-radius: 10px;
    height: 20vw;
    transition: 350ms ease-in-out;
    transform: scale(1);
    background-color: #F1EEEA;
    will-change: transform, z-index;
    white-space: normal;
    margin-right: 20px;
    width:200px;
  }