<div id="page-wrapper" style="height:100vh;">
    <div class="col-md-5" style="height:40vh;top:40vh;left:35vw;background:white">
      <h3>
        Enter registration  code
      </h3>
        <form [formGroup]="otpForm">
            <div class="form-group" style="padding-top:30px;">
                    <label><input type="text" placeholder="First Name *" formControlName="otp" class="form-control"/></label>
                    <!-- <div class="messages text-danger" *ngIf="registerForm.controls.first_name.errors?.required && registerForm.controls.first_name.touched">First Name shouldn't be blank</div> -->
                                        
            </div>
                            <label><input type="submit" value="Create Account" class="form-control"/></label>
                             
            
            
           
            
            
            
            
        </form>
      
      
      </div>
</div>


   
