@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');
* {
  transform: translate3d(0, 0, 0);
}





main {
  position: relative;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2, p {
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  margin-top: 10px;
  color: #545F6E;
}

.row {
  font-size: 0;
  max-width: 1500px;
  width: 90%;
  display: flex;
}
#page-wrapper{
  padding-top:80px;
  overflow-y: hidden;
}
.movie-container{
  width: 200px; 
}
.movie {
  font-size: 12px;
  position: relative;
  z-index: 0;
  display: block;
  overflow: visible;
  border-radius: 10px;
  height: 20vw;
  transition: 350ms ease-in-out;
  transform: scale(1);
  background-color: #F1EEEA;
  will-change: transform, z-index;
  white-space: normal;
  margin-right: 20px;
  width:200px;
}
.overlay-xtext {
  height:30%;
  width:100%;
  position:absolute;
  bottom:0;
  padding-left:10px;
  padding-right:10px;
  background: rgba(0,0,0, 0.7);
  vertical-align: middle;

}
.cover {
  position: absolute;
  z-index: 30;
  width:100%;
  height: 100%;
  transition: 300ms ease-out;
  border-radius: 5px;
  background-position: center center;
  background-size: cover;
  will-change: transform;
  &:before, &:after {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: "";
    transition: 350ms ease-in-out;
    border-radius: 5px;
  }
  &:before {
    box-shadow: 0 1px 2px 0 rgba(127, 124, 122, 0.3);
  }
  &:after {
    opacity: 0;
    box-shadow: 0 10px 54px 0 rgba(0, 0, 0, 0.2);
  }
}

.cover_blur {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 350ms ease-in-out;
  transform: translate3d(0, 0, 0);
  opacity: 0;
  border-radius: 5px;
  background-position: center center;
  background-size: cover;
  // box-shadow: 0 10px 26px 0 rgba(0, 0, 0, 1);
  filter: blur(40px) brightness(1.5) saturate(1);
  will-change: opacity;
}

.row:hover > .movie {
  opacity: .07;
  .cover_blur {
    opacity: 0;
  }
  &:hover {
    z-index: 30;
    transform: translate3d(-50px, 0, 0);
    opacity: 1;
    &:nth-child(n+4) {
      transform: translate3d(50px, 0, 0);
    }
    .cover {
      transform: scale(1.1);
      &:before {
        opacity: 0;
      }
      &:after {
        opacity: 1;
      }
    }
    .cover_blur {
      transform: translate3d(0, 20px, 0);
      opacity: .9;
    }
    .cover_shadow {
      opacity: 1;
    }
  }
}

.rating {
  display: inline-block;
}

.dot {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #A5B3C6;
  box-shadow: 0 7px 38px 0 #A5B3C6;
}

.dot-full {
  background-color: #09F;
  box-shadow: 0 7px 38px 0 rgba(0, 153, 255, 0.35);
}

.text {
  position: absolute;
  top: 50%;
  visibility: hidden;
  width: 500px;
  padding: 30px 40px;
  transition: all 150ms ease-out;
  transition-delay: 0ms;
  transform: translate3d(150px, -50%, 0);
  opacity: 0;
  will-change: transform, opacity;
  p {
    font-weight: 300;
    display: inline-block;
    margin: 0;
    line-height: 1.3;
  }
}

p {
  &.year, &.genre {
    font-weight: 600;
    margin-bottom: 5px;
    margin-left: 14px;
    color: #313C48;
  }
}

.movie {
  &:hover .text {
    visibility: visible;
    transition: 180ms cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-delay: 200ms;
    transform: translate3d(240px, -50%, 0);
    opacity: 1;
  }
  &:nth-child(n+4) .text {
    transform: translate3d(-480px, -50%, 0);
    text-align: right;
  }
  &:hover:nth-child(n+4) .text {
    transform: translate3d(-590px, -50%, 0);
    text-align: right;
  }
}

.button {
  font-size: 14px;
  font-weight: 200;
  font-weight: 500;
  display: inline-block;
  margin-top: 15px;
  padding: 10px 15px;
  cursor: pointer;
  text-transform: capitalize;
  color: #FFF;
  border: 1px solid #09F;
  border-radius: 5px;
  background: #09F;
  box-shadow: 0 7px 38px 0 rgba(0, 153, 255, 0.45);
}

.movie:nth-child(n+4) .button {
  margin-right: 0;
  margin-left: 10px;
}

/* Reset `button` and button-style `input` default styles */

input {
  &[type="submit"], &[type="reset"], &[type="button"] {
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-user-select: none;
    /* for button */
    -moz-user-select: none;
    -ms-user-select: none;
    color: inherit;
    border: 0;
    background: none;
    -webkit-appearance: button;
    /* for input */
  }
}

button {
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
  color: inherit;
  border: 0;
  background: none;
  -webkit-appearance: button;
  /* for input */
}

input::-moz-focus-inner, button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

#rand_btn {
  position: absolute;
  right: 0;
  transition: 350ms;
  transform: translateY(-96px);
  opacity: .7;
  &:focus {
    outline: none;
  }
  &:hover {
    opacity: 1;
  }
}
#page-wrapper {
  text-align:center;
}

.row {
  margin:40px;
}
h2 {
  color: #FFF;
}
.searchform div {
  height: 26px;
  width: 193px;
  }
  
  .searchboxwrapper {
  position: relative;
  }
  
  .searchbox {
  border: 1px solid #dadada;
  outline: none;
  font: 11px 'Montserrat', sans-serif;
  color: #777;
  width: 182px;
  height: 26px;
  background: #fff;
  padding-left: 10px;
  }
  
  .searchsubmit {
  font-family: 'FontAwesome';
  width: 29px;
  height: 29px;
  border: 1px solid #dadada;
  font-size: 12px;
  position: absolute;
  top: 0;
  right: 0;
  background: #dadada;
  border: none;
  color: #5d3250;
  cursor: hand; cursor: pointer;
  }
  @import url(https://fonts.googleapis.com/css?family=Raleway);
.header-section{
    height:60px;
    background:rgba(27, 30, 30, 0.5 );
}
.main-content{
    background: #272727;
    
}
#loginpop a span {
    color: #fff;
}
#loginpop a :hover {
    color: #e52325; 
}
.profile-details {
    padding: 0 0;
}
.sticky-left-side {
    background:#000;
}
body {
  font-family: 'Raleway', sans-serif;
}
#loginpop{
    float:right;
}
li > a:focus {
    background:#292929;
}
li > a:active {
    background:#292929;
}

div.col-md-4.login-pop {
    right: 0;
    position:fixed;
    width:400px;
}

#loginButton span {
    width:110px;
}
#registerButton span {
    width:105px;
}
button:focus {outline:0;}
button {
  background: none;
  border:none;
}


nav.menubar{
  padding:5px;
  font:400 22px 'Josefin Sans', serif;
  position: fixed;
  top: 0;left: 0;
  transition: all .3s ease-in-out;
  border-bottom:2px solid transparent;
  margin-top: 10px;
}

nav.menubar ul{
  text-align:center;
  letter-spacing:.1px;
}

nav.menubar ul li{
  display:inline;
  padding:0 10px;
}
.main-nav>li+li {
    margin-left: 30px
  }
  
  .main-nav>li>a {
    padding: 20px 0px;
  }
  
  .main-nav>li>a:hover, .main-nav>li>a:focus, .main-nav>li.active>a {
    color: #D10024;
    background-color: transparent;
  }
  
  .main-nav>li>a:after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: #D10024;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }
  
  .main-nav>li>a:hover:after, .main-nav>li>a:focus:after, .main-nav>li.active>a:after {
    width: 100%;
  }
  
  .header-ctn li.nav-toggle {
    display: none;
  }
  
  /*----------------------------*\
      responsive nav
  \*----------------------------*/
  
  @media only screen and (max-width: 991px) {
    .header-ctn .menu-toggle {
      display: inline-block;
    }
    #responsive-nav {
      position: fixed;
      left: 0;
      top: 0;
      background: #15161D;
      height: 100vh;
      max-width: 250px;
      width: 0%;
      overflow: hidden;
      z-index: 22;
      padding-top: 60px;
      -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      transform: translateX(-100%);
      -webkit-transition: 0.2s all;
      transition: 0.2s all;
    }
    #responsive-nav.active {
      -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
      transform: translateX(0%);
      width: 100%;
    }
    .main-nav {
      margin: 60px;
      float: none;
    }
    .main-nav>li {
      display: block;
      float: none;
    }
    .main-nav>li+li {
      margin-left: 0px;
    }
    .main-nav>li>a {
      padding: 15px;
      color: #FFF;
    }
  }
  a {
      color:#ffffff;
  }
  .navbar-nav {
      margin-left:60px;
  }
  #logoutButton:hover {
    color:#D10024;
  }
  #logoutButton {
    color:white;
  }
  .swal2-popup .swal2-styled.swal2-confirm {
    background: #D10024; 
  }

  .nav>li>a {
    font-family: 'Raleway', 'sans-serif'
  }

  @media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}
@media only screen and (max-width: 450px) {
  .row {
    font-size: 0;
    max-width: 400px;
    width: 100%;
    display: block;
    margin-left:0;
    padding-left:10px;
    padding-right:10px;
  }    

  .movie {
    
    z-index: 0;
    display: block;
    overflow: hidden;
    border-radius: 10px;
    height: 50vw;
    transition: 350ms ease-in-out;
    transform: scale(1);
    background-color: #333;
    will-change: transform, z-index;
    white-space: normal;
    margin-right: 20px;
    width:100%;
    margin-bottom:10px;
  }
  .movie-row {
    display:block;
    margin: 0;
  }
}