<div id="page-wrapper" style="height:100vh;">
  <div class="col-md-5 card-container" style="height:60%;"> 
    <h3>
      Password Reset
    </h3>
    <div class="col-md-12">
      <h4>
        Kindly enter email address or phone number
      </h4>

      <form [formGroup]="emailForm" (submit)="resetRequest()">
          <div class="form-group" style="padding-top:30px;">
            <label>
              <input type="email" placeholder="Email Required" formControlName="email" class="form-control" />
            </label>
            <!-- <label>
                <input type="email" placeholder="Email Required" formControlName="passwordreset" class="form-control" />
              </label> -->
            <!-- <div class="messages text-danger" *ngIf="emailForm.controls.email.errors?.required && emailForm.controls.email.touched">Email Field shouldn't be blank</div> -->
            <label>
                <input type="tel" placeholder="Phone Number:eg. 254XXXXXXXXX" formControlName="phone_number" class="form-control" />
              </label>
          </div>
          <div class="col-md-12">
            <h4>
              If E-mail not received check spam folder.
            </h4>
          </div>
          <label>
            <input type="submit" value="Submit" class="form-control" />
          </label>
        </form>
    
    
    </div>

    
  </div>
</div>