<div id="page-wrapper">
  <div class="inner-content">
    <div class="albums">
        <div class="tittle-head">
          <h3 class="tittle">Recently Added <span class="new">Recommended</span></h3>
          
          <div class="clearfix"> </div>
        </div>
        
        <div class="col-md-3 content-grid" (click)="openInfoOverlay()">
        <a class="play-icon popup-with-zoom-anim" href="#small-dialog"><img src="assets/images/v1.jpg" ></a>
        
      </div> 
      
      <div class="col-md-3 content-grid">
        <a class="play-icon popup-with-zoom-anim" href="#small-dialog"><img src="assets/images/v2.jpg" ></a>

       
      </div>
      <div class="col-md-3 content-grid">
        <a class="play-icon popup-with-zoom-anim" href="#small-dialog"><img src="assets/images/v3.jpg" ></a>

        
      </div>
      <div class="col-md-3 content-grid last-grid">
        <a class="play-icon popup-with-zoom-anim" href="#small-dialog"><img src="assets/images/v4.jpg" ></a>

        
      </div>
      <div class="col-md-3 content-grid">
        <a class="play-icon popup-with-zoom-anim" href="#small-dialog"><img src="assets/images/v5.jpg" ></a>

        
      </div>
     
      <div class="col-md-3 content-grid">
        <a class="play-icon popup-with-zoom-anim" href="#small-dialog"><img src="assets/images/v6.jpg" ></a>

        <a class="button play-icon popup-with-zoom-anim" href="#small-dialog"></a>
      </div>
      <div class="col-md-3 content-grid">
        <a class="play-icon popup-with-zoom-anim" href="#small-dialog"><img src="assets/images/v7.jpg" ></a>

        <a class="button play-icon popup-with-zoom-anim" href="#small-dialog"></a>
      </div>
      <div class="col-md-3 content-grid last-grid">
        <a class="play-icon popup-with-zoom-anim" href="#small-dialog"><img src="assets/images/v8.jpg" ></a>
                <a class="button play-icon popup-with-zoom-anim" href="#small-dialog"></a>
              </div>

  
              <div class="clearfix"> </div>
            </div>
  <!--//End-albums-->
   

</div></div>